<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Show Page</title>
<link rel="stylesheet" href="/stylesheets/homePage.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>
<head>
  </head>
  <body>
    <%- include('/Users/Alex/MaximumMunch/views/partials/navbar.ejs') %>
     <div class="container">
    <div class="card border-primary">
  <div class="card-header">Welcome to MaximumMunch</div>
  <div class="card-body text-primary">
  <a href="/index" class="btn btn-primary bg-dark">Browse from many of our food options</a>
  <a href="/Owner/Login"class="btn btn-primary bg-dark">Restaurant Owners can manage their options here</a>
  </div>
  </div>
  </div>
 <%- include('/Users/Alex/MaximumMunch/views/partials/scripts.ejs') %>
  </body>
</html>
