<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Show Page</title>
<head>
<link rel="stylesheet" href="/stylesheets/homePage.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>
  <script defer src="/Scripts/homePageScroll.js"></script>
  </head>
  <body>
    <%- include('/Users/Alex/MaximumMunch/views/partials/navbar.ejs') %>
  <div id="secondary-content">
    <section class="hidden">
    <h1>Choose through many of our options</h1>
    </section>
  </div>
  <div id="tertiary-content"> 
    <section class="hidden">
    <h1>Quick and simple delivery right to your door</h1>
    </section>
  </div>
    <div id="main-content">   <section class="hidden">
    <div class="card border-primary" id="cardContent">
  <div class="card-body text-primary">
  <a href="/index" class="btn btn-primary bg-dark">Browse from many of our food options</a>
  <a href="/Owner/Login"class="btn btn-primary bg-dark">Restaurant Owners can manage their options here</a>
  </div>
  </div>
  </section>
  </div>
 <%- include('/Users/Alex/MaximumMunch/views/partials/scripts.ejs') %>
  </body>
</html>
