<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/Users/Alex/MaximumMunch/views/partials/head.ejs') %>
  </head>
  <body>
    <%- include('/Users/Alex/MaximumMunch/views/partials/navbar.ejs') %>
    <form action="/login" method="post">
      <h2>Log in to your account here</h2>
      <label for="username">username</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="password">password</label><br />
      <input type="password" id="password" name="password" /><br />
      <button>Login</button>
    </form>
    <form action="http://localhost:3000/index">
      <button>Back to Index</button>
    </form>
  </body>
</html>
