<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/public/stylesheets/loginPage.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />
  <head>
    <%- include('/Users/Alex/MaximumMunch/views/partials/head.ejs') %>
  </head>
  <body>
    <%- include('/Users/Alex/MaximumMunch/views/partials/navbar.ejs') %>
    <form action="/login" method="post">
      <div class="form-group">
        <h2>Log in to your account here</h2>
        <label for="username">username</label><br />
        <input type="text" id="username" name="username" /><br />
        <label for="password">password</label><br />
        <input type="password" id="password" name="password" /><br />
        <button>Login</button>
      </div>
    </form>
    <form action="http://localhost:3000/index">
      <button>Back to Index</button>
    </form>
  </body>
  <%- include('/Users/Alex/MaximumMunch/views/partials/scripts.ejs') %>
</html>
