<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../views/partials/head.ejs') %>
    <script defer src="/Scripts/homePageScroll.js"></script>
    <link rel="stylesheet" href="/stylesheets/createRest.css" />
    <title>Add Food here</title>
  </head>
  <body>
    <%- include('../views/partials/navbar.ejs') %>
    <div class="intro">
      <section class="hidden">
        <h1>Here's to a new partnership</h1>
        >
      </section>
    </div>
    <form action="/Owner/newRestaurant" method="post">
      <div class="namingRest form-gorup">
        <section class="hidden">
          <h1>Add your restaurant name here</h1>
          <input type="text" id="name" name="name" /><br />
        </section>
      </div>
      <div class="restType">
        <section class="hidden">
          <h1>What type of cuisine will you be serving?</h1>
          <input type="text" id="speciality" name="speciality" /><br />
          <button type="submit" class="btn btn-dark">submit</button>
        </section>
      </div>
      <!-- add phone number as an option-->
    </form>
    <%- include('../views/partials/scripts.ejs') %>
  </body>
</html>
