h1 {
  font-style: italic;
}

.half-screen-image {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.newFoodForm {
  transform: translate(30%, 50%);
}

.formHeader {
  text-align: left;
  transform: translateX(-100px);
}
