.card {
  max-width: 20rem;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 10%;
}
.card:hover {
  box-shadow: 4em black;
}

.container {
  padding-top: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#navbarBootStrapOverride {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

/* #cuisine-carousel {
  display: flex;
  width: 100%;
}

#cuisine-carousel .card {
  max-width: 18rem;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 10%;
}

#cuisine-carousel button {
  max-height: 50px;
  transform: translateY(300px);
  background-color: rgba(0, 0, 0, 0.1);
}

#cuisine-carousel .carousel-button.next {
  transform: translateX(42px);
  transform: translateY(300px);
} */

.swiper {
  align-self: center;
  /* border-style: solid; */
  width: 100%;
  height: 250px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5%;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
  color: black;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
  color: black;
}

.textCaption {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
.bottom-left {
  position: absolute;
  bottom: 40px;
  left: 16px;
}

.swiper-slide {
  margin-top: 1%;
  width: auto;
  max-height: 100%;
  transition: 0.2s;
}
.swiper img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.zoom {
  padding: 50px;
  transition: transform 0.2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.swiper-slide:hover {
  transform: scale(1.1);
}

#carouselExampleCaptions {
  width: 100%;
}
.carousel-inner {
  height: 35vh;
  margin-bottom: 3%;
}
#viewAll {
  margin-left: auto;
  margin-right: 0;
}
